*{
    margin: 0;
}
body{
    background-image: url(../img/squire.png);
}
#container{
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    width: 960px;
    background-color:#ABC4D1;
    /* border: solid blue; */
};